<h1><%= t(:hello) %></h1>
<p>Find me in app/views/main/index.html.erb</p>
#TODO 

#Internationalization (buttons save update, error messages)

#"All categories" option in report generator

#User authorisation (gem)

#Main page (for example: top  expences for last week, largest buy for month, trends etc...)

      