<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
#TODO 
#Dates validation in report generator
#Internationalization (buttons save update, error messages)
#User authorisation (gem)
#Main page (for example: top  expences for last week, largest buy for month, trends etc...)