<h1><%= t(:hello) %>, Username</h1>
<p>Find me in app/views/main/index.html.erb</p>


#TODO 


<p>#User authorisation (gem)</p>

<p>#Main page (for example: top  expences for last week, largest buy for month, trends etc...)</p>

      