<h1><%= t(:hello) %>, Username</h1>
<p>Find me in app/views/main/index.html.erb</p>


#TODO 

<p>#Report by dates: SUM by every date</p>
<p>#Create scopes for quering operations in models/operation.rb</p>
<p>#User authorisation (gem)</p>

<p>#Main page (for example: top  expences for last week, largest buy for month, trends etc...)</p>

      