<h1><%= t('button_add') + ' ' + Otype.model_name.human %></h1>

<%= render "form", otype: @otype %>

<br>

<div>
  <%= link_to t('label_all') + ' ' + Category.model_name.human(:count => 2), categories_path %>
</div>
