  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="img-fluid" src="/logo.png">
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/operations">Транзакції</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/categories">Категорії</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/reports/index">Звіти</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
      </nav>
    </div>
  </header>