<h1><%=Category.model_name.human + ' / ' + t('button_edit') %></h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to Category.model_name.human + ' ' + @category.description, @category %> |
  <%= link_to t('label_all') + ' ' + Category.model_name.human(:count => 2), categories_path %>
</div>
